html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: block;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.apps-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "VT323", monospace;
}

.hello-section .message {
  flex-grow: 1;
}

.skills-section {
  display: flex;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.section {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.section .title {
}

.section .section-body {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
